html, body {
    height: 100%;
    padding: 0;
    margin: 0;
}

#map {
    height: 100%;
}

#map .leaflet-marker-icon {
    border-radius: 50%;
    text-align: center;
    line-height: 26px;
}

#map .leaflet-marker-icon.red {
    border: 2px solid red;
}

#map .leaflet-marker-icon.blue {
    border: 2px solid blue;
}

#loader {
    display: none;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #B2C3C2;
    padding: 10px;
    background: #fff url('/loader.svg') no-repeat center top;
    min-width: 100px;
    padding-top: 120px;
    text-align: center;
}

#loader.loading {
    display: block;
}